{{#schedule}}
    <tr><td colspan="2" class="session-type">Talks</td></tr>
    {{#each talks}}
        <tr>
            <td>
                <div class="session-room">{{room}}</div>
                <div class="schedule-time">{{time}}</div>
                <div class="session-presenter"> {{name}}</div>
                <div class="session-company"> {{company}}</div>
            </td>
                <td>
                    <div class="session-title">{{title}}</div>
                    <div>{{{description}}}</div>
                </td>
        </tr>
    {{/each}}
    <tr><td colspan="2" class="session-type">Workshops</td></tr>
    {{#each workshops}}
    <tr>
        <td>
            <div class="session-room">{{room}}</div>
            <div class="session-time">{{time}}</div>
            <div class="session-presenter"> {{name}}</div>
            <div class="session-company"> {{company}}</div>
        </td>
            <td>
                <div class="session-title">{{title}}</div>
                {{#if prerequisites}}
                    <div><b>Prerequisites:</b> {{{prerequisites}}}</div>
                {{/if}}
                {{#if before }}
                    <div><b>Before this workshop, please:</b> {{{before}}}</div>
                {{/if}}
                {{#if bring}}
                    <div><b>Please bring to the workshop: </b> {{{bring}}}</div><br/>
                {{/if}}

                <div>{{{description}}}</div>
            </td>
    </tr>
    {{/each}}
{{/schedule}}