{{#talks}}
    <tr>
        <td>
            <div class="schedule-time">{{time}}</div>
            <div class="session-presenter"> {{name}}</div>
            <div class="session-company"> {{company}}</div>
        </td>
            <td>
                <div class="session-title">{{title}}</div>
                <div>{{{description}}}</div>
            </td>
    </tr>
{{/talks}}